@import "tailwindcss";

@theme {
  --animate-marquee: marquee 20s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(50vw); }
    100% { transform: translateX(-100%); }
  }
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
